---
layout: base
title: Homepage Test
description: 'Test Description.'
---

{% block pageHead %}
{% endblock %}

{% block content %}
<h1 class="text-3xl">Homepage Test</h1>
{% endblock %}

{% block pageFoot %}
{% endblock %}
